.text-right {
  text-align: right;;
}
.app-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.item-group {
  display: flex;
  flex-direction: row;

  background-color: rgb(103, 194, 103, 0.7);
  border-radius: 20px;
  padding: 15px 5px;
  gap: 20px;
}
.item-type {
  width: 70px;
}

.btn-selected {
  background-color: #f00;
}

.btn-db-register {
  width: 100px;
  height: 50px;
  border-width: 1px;
  border-radius: 10px;
}

.div-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.ul-result {
  width: 300px;
  height: 150px;
  margin: 0;
  padding: 0;
  overflow: auto;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}
.ul-result li {
  width: 100%;
  padding: 5px 20px;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-size: small;
}
